@media only screen and (min-width: 400px) {

    html{
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
      }

    body{
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #FEFDED;
    }
    #header{
        z-index: 2;
        width: 100%;
        font-size: 20px;
        font-family: 'PT Sans', Arial, Sans-serif;
        background-color: #FA7070;
        align-items: center;
        position: fixed;
    }
    
    #header li{
        display: inline;
        list-style: none;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    #header ul{
        text-align: center;
        margin: 0 auto;
        width: auto;
        line-height: 50px;
        height: 50px;
    }
    
    #header a{
        text-decoration: none;
    }
    
    #header a:link{
        color: black;
    }
    
    #header a:visited{
        color: black;
    }
    
    #header a:hover{
        color: #FEFDED;
        font-size: 120%;
    }
    
    #header a:active{
        color: #FEFDED;
        font-size: 120%;
    }


    #home{
        display: flex;
        width: 100%;
        align-items: center;
        aspect-ratio: 16/9;
        justify-content: center;
    }

    #homeimage{
        width: 80%;
        background-image: url(./슬라이드1.PNG);
        background-size: cover;
        aspect-ratio: 16/9;
    }

    #profile{
        width: 100%;
        background-color: #A1C398;
        aspect-ratio: 16/8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #profile2{
        width: 72%;
        background-color: #FEFDED;
        aspect-ratio: 16/8;
    }

    #pro1{
        display: flex;
        width: 40%;
        height: 100%;
        float: left;
        align-items: center;
        justify-content: end;
    }

    #profilephoto{
        width: 80%;
        background-image: url(./mj_photo.png);
        background-size: cover;
        aspect-ratio: 1/1;
    }

    #pro2{
        float: right;
        width: 60%;
        height: 55%;
        display: flex;
        align-items: center;
    }

    .infor{
        width: 30%;
        height: 80%;
        padding-left: 5%;
        padding-top: 20%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .infor h5{
        display: inline-block;
        background-color: #FA7070;
        border-radius: 10%;
        font-size: 1vmax;
    }

    .infor .subtitle{
        font-weight: bold;
    }

    .infor p{
        display: inline;
        font-size: 0.9vmax;
    }

    #pro3{
        float: right;
        width: 60%;
        height: 45%;
        padding-top: 0;
    }

    #pro3 h1{
        color: #FA7070;
        display: inline;
        padding-left: 5%;
        font-size: 5vmax;
    }

    #pro3 p{
        color: black;
        padding-left: 5%;
        display: inline;
        font-size: 1.2vmax;
        font-weight: 300;
    }

    #life{
        width: 100%;
        position: flex;
    }

    #life h2{
        position: relative;
        font-size: 2vmin;
        color: #FA7070;
        line-height: 1;
    }

    #life h2::before{
        content: "";
        position: absolute;
        left: -48px; top: 50%; transform: translateY(-50%);
        width: 17px;height: 17px; border-radius: 100%;
        background-color: #Ffffff;
        border: 5px solid #FA7070;
        box-sizing: border-box;
    }

    #life div{
        position:relative;
        width: 50%;
        padding: 0 0 0 48px;
        margin: 0;
        border: 0;
        background-color: ;
    }

    #life div::before{
        content: "";
        position: absolute;
        left: 8px;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: #A1C398;
    }

    #life div:last-child:before{
        content: none;
    }

    #life ul{padding: 0px 0 74px;}
    #life li{font-size: 1.5vmin; line-height: 29px;}
}